.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 25%;
    height: 10%;
    border: 3px solid rgb(71, 49, 19);
    margin: 10px;
    background: rgb(202, 151, 84);
    opacity: .7;
}
/*  */